anyio                        
astroid                  
attrs                      
beautifulsoup4             
cachetools                  
certifi                  
cffi                       
charset-normalizer       
colorama                 
dill                    
et-xmlfile               
exceptiongroup          
google                   
google-api-core          
google-api-python-client 
google-auth              
google-auth-httplib2     
google-auth-oauthlib     
google-cloud             
google-cloud-bigquery    
google-cloud-core       
google-cloud-storage     
google-cloud-vision      
google-crc32c            
google-resumable-media   
googleapis-common-protos 
grpcio                  
grpcio-status            
h11                      
httpcore                
httplib2                 
httpx                   
idna                     
imap-tools               
isort                   
lazy-object-proxy        
mccabe                   
numpy                   
oauthlib                 
openpyxl                 
outcome                  
packaging                
pandas                 
pip                      
platformdirs            
proto-plus               
protobuf                
pyasn1                 
pyasn1-modules           
pycparser                
pylint                  
pyparsing               
PySocks                  
python-dateutil          
python-dotenv            
pytz                     
requests                 
requests-oauthlib        
rsa                     
selenium                 
setuptools               
six                      
sniffio                  
sortedcontainers         
soupsieve                
tomlkit                  
trio                     
trio-websocket           
tzdata                   
uritemplate            
urllib3                  
vscode-ext              
webdriver-manager        
wrapt                    
wsproto                  
xlrd                     
xlutils                  
xlwt                     
youtube-search-python
schedule